// Button styles goes here
.button{
    cursor: pointer;
    color: $button-color;
    border: none;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    background-color: $secondary;
    border-radius: $border-radius;
   
}

//button responsive
@include for-size('lg'){
    .button{
        padding: 0.65rem 1rem;
        font-size: 0.9rem;
    }
}