@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
.card-wrapper .card, .card-wrapper .card .card-icon, .card-wrapper .card .card-title, .card-wrapper .card .card-counter, .header .header-profile, .header .search, .sidebar, .sidebar .icons, .click-toggle, .click-toggle span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  color: #abb1bf;
  background-color: #f7f7f7;
  font-weight: 400;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #abb1bf;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.horizontal-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.text-primary {
  color: #abb1bf;
}

.text-secondary {
  color: #3f386c;
}

.text-tertiary {
  color: #f7f7f7;
}

.text-white {
  color: #ffffff;
}

.text-success {
  color: #438ffe;
}

.text-info {
  color: #83bdbe;
}

.text-warning {
  color: #8bc38a;
}

.text-danger {
  color: #fe764b;
}

.icon-primary {
  color: #abb1bf;
  background-color: rgba(171, 177, 191, 0.12);
}

.nav-link-primary:hover span {
  color: #abb1bf;
}

.icon-secondary {
  color: #3f386c;
  background-color: rgba(63, 56, 108, 0.12);
}

.nav-link-secondary:hover span {
  color: #3f386c;
}

.icon-tertiary {
  color: #f7f7f7;
  background-color: rgba(247, 247, 247, 0.12);
}

.nav-link-tertiary:hover span {
  color: #f7f7f7;
}

.icon-white {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.12);
}

.nav-link-white:hover span {
  color: #ffffff;
}

.icon-success {
  color: #438ffe;
  background-color: rgba(67, 143, 254, 0.12);
}

.nav-link-success:hover span {
  color: #438ffe;
}

.icon-info {
  color: #83bdbe;
  background-color: rgba(131, 189, 190, 0.12);
}

.nav-link-info:hover span {
  color: #83bdbe;
}

.icon-warning {
  color: #8bc38a;
  background-color: rgba(139, 195, 138, 0.12);
}

.nav-link-warning:hover span {
  color: #8bc38a;
}

.icon-danger {
  color: #fe764b;
  background-color: rgba(254, 118, 75, 0.12);
}

.nav-link-danger:hover span {
  color: #fe764b;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-50 {
  height: 50%;
}

.h-70 {
  height: 70%;
}

.h-100 {
  height: 100%;
}

.button {
  cursor: pointer;
  color: #ffffff;
  background-color: #438ffe;
  padding: 1rem 1.25rem;
  border-radius: 0;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.input {
  padding: 1rem 1.25rem;
  border: none;
  background-color: #f5f7f9;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.input:focus-visible {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: #abb1bf;
  font-size: 1rem;
  font-weight: 400;
}

.input:-ms-input-placeholder {
  color: #abb1bf;
  font-size: 1rem;
  font-weight: 400;
}

.input::-ms-input-placeholder {
  color: #abb1bf;
  font-size: 1rem;
  font-weight: 400;
}

.input::placeholder {
  color: #abb1bf;
  font-size: 1rem;
  font-weight: 400;
}

.card-wrapper {
  width: 25%;
  padding: 0 0.65rem;
}

.card-wrapper .card {
  cursor: pointer;
  background-color: #ffffff;
  padding: 1.2rem;
}

.card-wrapper .card .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  height: 60px;
  width: 60px;
  margin-bottom: 1.2rem;
}

.card-wrapper .card .card-icon:last-child {
  background-color: transparent;
}

.card-wrapper .card .card-title {
  font-size: 1rem;
  color: #abb1bf;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-wrapper .card .card-counter {
  font-size: 2.25rem;
  font-weight: 400;
  color: #3f386c;
  padding-bottom: 1.2rem;
  border-bottom: 0.01rem solid #e7e7e7;
}

.card-wrapper .card .card-details {
  padding-top: 1rem;
}

.card-primary:hover {
  background-color: #abb1bf;
  color: #ffffff;
}

.card-primary:hover .card-icon, .card-primary:hover .card-title, .card-primary:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-primary:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-secondary:hover {
  background-color: #3f386c;
  color: #ffffff;
}

.card-secondary:hover .card-icon, .card-secondary:hover .card-title, .card-secondary:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-secondary:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-tertiary:hover {
  background-color: #f7f7f7;
  color: #ffffff;
}

.card-tertiary:hover .card-icon, .card-tertiary:hover .card-title, .card-tertiary:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-tertiary:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-white:hover {
  background-color: white;
  color: #ffffff;
}

.card-white:hover .card-icon, .card-white:hover .card-title, .card-white:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-white:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-success:hover {
  background-color: #438ffe;
  color: #ffffff;
}

.card-success:hover .card-icon, .card-success:hover .card-title, .card-success:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-success:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-info:hover {
  background-color: #83bdbe;
  color: #ffffff;
}

.card-info:hover .card-icon, .card-info:hover .card-title, .card-info:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-info:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-warning:hover {
  background-color: #8bc38a;
  color: #ffffff;
}

.card-warning:hover .card-icon, .card-warning:hover .card-title, .card-warning:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-warning:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

.card-danger:hover {
  background-color: #fe764b;
  color: #ffffff;
}

.card-danger:hover .card-icon, .card-danger:hover .card-title, .card-danger:hover .card-counter {
  color: #ffffff;
  border-color: #ffffff;
}

.card-danger:hover .card-icon {
  background-color: rgba(255, 255, 255, 0.12);
}

@media only screen and (max-width: 991px) {
  .card-wrapper {
    width: 50%;
  }
  .card-wrapper:nth-child(1), .card-wrapper:nth-child(2) {
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-wrapper {
    width: 100%;
  }
  .card-wrapper:nth-child(1), .card-wrapper:nth-child(2) {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .card-wrapper {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.table-inner {
  width: 65%;
  padding-right: 1.2rem;
  max-height: 500px;
  overflow: hidden;
}

.table-scroll {
  overflow: auto;
}

.table-scroll .table {
  padding: 0rem 1rem 1rem 1rem;
  border-spacing: 0 1rem;
}

.table {
  color: #3f386c;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0;
  text-align: left;
}

.table td {
  padding: 0.75rem;
  background-color: #f5f7f9;
  width: 20%;
}

.table th {
  width: 16%;
  padding: 0.75rem 0.75rem 0rem 0.75rem;
}

.table td.active {
  color: #438ffe;
}

.table .cell-profile {
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.table .cell-profile img {
  max-width: 100%;
  height: auto;
}

.table .product {
  white-space: nowrap;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 991px) {
  .analysis-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .table-inner {
    width: 100%;
    padding-right: 0rem;
    margin-bottom: 1rem;
  }
  .statistics {
    width: 100%;
  }
}

.header {
  height: 90px;
  background-color: #ffffff;
  border-bottom: 0.01rem solid #e7e7e7;
}

.header .header-brand {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header .header-content {
  padding: 1.3rem 2.5rem;
}

.header .logo {
  width: 100px;
  color: #438ffe;
}

.header .header-expand, .header #header-expand {
  display: none;
}

.header .avtar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.header .avtar img {
  height: 100%;
  width: auto;
}

.header .search-input {
  position: relative;
}

.header .search-input .search-icon {
  font-size: 1.6rem;
  position: absolute;
  top: 0.7rem;
  right: auto;
  bottom: auto;
  left: 0.75rem;
}

.header .search-input .input {
  width: 350px;
  padding: 1rem 1.25rem 1rem 3rem;
}

.header .search-input .button {
  margin-left: -0.3rem;
}

.header .icons {
  font-size: 1.6rem;
}

.header .notification {
  margin-right: 2rem;
}

.header .notification .icons::after {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fe764b;
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}

@media only screen and (max-width: 991px) {
  .header .logo {
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 576px) {
  .header .header-content {
    padding: 1.3rem 2rem;
  }
}

.main-content {
  padding: 2.5rem;
  overflow: auto;
}

.main-content .title {
  font-size: 2rem;
  font-weight: 500;
  color: #3f386c;
  margin-bottom: 1.2rem;
}

.card-view {
  margin: 0rem -0.65rem 1.3rem;
}

.statistics {
  width: 35%;
  padding: 1rem;
  background-color: #ffffff;
  padding: 2rem 1rem 1rem 1rem;
  color: #3f386c;
  overflow: auto;
}

.statistics-details {
  padding-bottom: 1.2rem;
}

.statistics .details {
  font-size: 1rem;
}

.statistics .week-options {
  color: #abb1bf;
}

.statistics-info {
  padding-bottom: 1rem;
}

.statistics-info .icon-square {
  height: 10px;
  width: 10px;
  margin-right: 0.25rem;
  background-color: #83bdbe;
}

.statistics-info .info:first-child {
  margin-right: 1rem;
}

.statistics-info .info:first-child .icon-square {
  background-color: #fe764b;
}

.statistics-graph {
  max-height: 280px;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.statistics-graph .grid-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 0.5rem;
}

.statistics-graph .grid-line .sell, .statistics-graph .grid-line .view {
  width: 0.5rem;
  margin: 0rem 0.25rem;
  background-color: #83bdbe;
}

.statistics-graph .grid-line .view {
  background-color: #fe764b;
}

.statistics-graph .grid-line p {
  padding: 1.25rem 0rem;
  color: #abb1bf;
}

@media only screen and (max-width: 1200px) {
  .analysis-view {
    overflow: hidden;
  }
}

@media only screen and (max-width: 991px) {
  .analysis-view {
    overflow: unset;
  }
  .analysis-view .statistics {
    width: 100%;
    overflow: hidden;
    min-height: 400px;
  }
}

@media only screen and (max-width: 576px) {
  .main-content {
    padding: 2rem;
  }
}

.sidebar {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.sidebar .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0rem;
}

.sidebar .icons {
  color: #abb1bf;
  font-size: 1.6rem;
}

#chekbox {
  display: none;
}

.click-toggle {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 50%;
  left: 100px;
  cursor: pointer;
  height: 40px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.click-toggle span {
  font-size: 1rem;
}

#chekbox:checked + .sidebar {
  width: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

#chekbox:checked + .sidebar ~ .click-toggle {
  left: 0;
}

#chekbox:checked + .sidebar ~ .click-toggle span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (max-width: 991px) {
  .sidebar {
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
  }
  .click-toggle {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 50%;
    left: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .click-toggle {
    width: 20px;
  }
}
/*# sourceMappingURL=style.css.map */