//theme colors
$primary:#abb1bf;
$secondary:#3f386c;
$tertiary:#f7f7f7;
$white:#ffffff;
$success:#438ffe;
$info:#83bdbe;
$warning:#8bc38a;
$danger:#fe764b;

//bodycolor
$body-color:$primary;

//header
$header-bg:$white;
$brand-icon-color:$success;
//notification icon
$notification-pending-color:$danger;

//main
$main-bg:$tertiary;

//button
$button-color:$white;
$button-bg-color:$success;

//input
$input-bg:$tertiary;

//icons-color
$icon-color:$primary;

//card-colors
$card-bg-color:$white;
$card-title-color:$primary;

//card-counter
$card-counter-color:$secondary;

//table
$table-bg-color:$white;
$table-cell-color:$secondary;
$cell-status-color:$success;
$cell-bg-color:$warning;

//statistics graph view
$statistics-title-color:$secondary;

//create object colors
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary":$tertiary,
  "white":$white,
  "success":$success,
  "info":$info,
  "warning":$warning,
  "danger":$danger,
);


