// All the SCSS Variables goes here

// Fonts
$font-size-base: 1rem;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;
$font-weight-normal:400;
$title-size-base:2rem;

//Radious
$border-radius:0;
$border-bottom:0.01rem solid $primary;
$circle-radius:50%;

//Header
$header-height:90px;
$header-padding:0rem 1.2rem;
$icon-size:1.6rem;

//Sidebar
$sidebar-width:100px;
$sidebar-items-padding:2rem 0rem;

//main-display-content
// $content-max-width:1920px;
//Button
$button-padding: 0.75rem 1.25rem;
$button-radious:$border-radius;
$button-border:none;

//Input Field
$input-padding:$button-padding;
$input-border:none;

//avtar user profile
$avtar-height:40px;
$avtar-width:40px;

//main-wrapper
$main-wrapper-padding:2.5rem;

//heading tittle
$title-padding:$sidebar-items-padding;

//card
$card-width:25%;
$card-padding-base:1.2rem;
$card-icon-height:60px;
$card-icon-width:60px;
$card-icon-bottom:1.2rem;
$card-icon-font:$icon-size;

$card-title:$font-size-base;
$card-title-weight:$font-weight-normal;
$card-margin-bottom:1rem;

$card-counter-size:2.25rem;
$card-counter-weight:$font-weight-normal;
$card-counter-bottom:1.2rem;


//table
$table-radius:$border-radius;
$table-inner-space:1rem;
$table-cell-padding:0.75rem;
$table-cell-align:left;

//table-cell padding
$cell-profile-height:40px;
$cell-profile-width:40px;






