// Card styles goes here
.card-wrapper {
    width: $card-width;
    padding: 0 0.65rem;
    .card {
        cursor: pointer;
        //card-icons
        background-color: $card-bg-color;
        padding: $card-padding-base;
        @extend %transtion-all ;
        .card-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $card-icon-font;
            height: $card-icon-height;
            width: $card-icon-width;
            margin-bottom: $card-icon-bottom;
            @extend %transtion-all ;
        }
        .card-icon:last-child{
            background-color: transparent;
        }
        //title
        .card-title {
            font-size: $card-title;
            color: $card-title-color;
            font-weight: $card-title-weight;
            margin-bottom: $card-margin-bottom;
            @extend %transtion-all ;

        }
        .card-counter {
            font-size: $card-counter-size;
            font-weight: $card-counter-weight;
            color: $card-counter-color;
            padding-bottom: $card-counter-bottom;
            border-bottom: $border-bottom;
            @extend %transtion-all ;

        }
        .card-details{
            padding-top: $card-margin-bottom;
        }
    }
}

@each $key,$value in $theme-colors {
     .card-#{$key}{
         
        &:hover{
            background-color: rgba($color: $value, $alpha: 1);
            color: $white;
            .card-icon,.card-title,.card-counter{
                color: $white;
                border-color: $white;
            }
            .card-icon{
                background-color: rgba($color: $white, $alpha: 0.12);
            }
            

        }    
    }
}

//responsive
//media query for below 992px
@include for-size('lg'){
    .card-wrapper {
        width: 50%;
        &:nth-child(1),&:nth-child(2){
            margin-bottom: 1.3rem;
        }
    }
    
 
}
//media query for below 768px

@include for-size('md'){
    .card-wrapper {
        width: 100%;
        &:nth-child(1),&:nth-child(2){
            margin-bottom: 1rem;
        }
    }
 
}
@include for-size('sm'){
    .card-wrapper {
        width: 100%;
        margin-bottom: 1rem;
    }
 
}
