// Form controls styles goes here


//input fields css
.input{
    padding: $input-padding;
    border: $input-border;
    background-color:#f5f7f9;
    font-family: $font-family;
    font-size: $font-size-base;
    &:focus-visible{
        outline: none;
    }
    &::placeholder{
        color: $primary;
        font-size: 1rem;
        font-weight: 400;
    }
}