.table-inner{
    width: 65%;
    padding-right: 1.2rem;

}
.table{
    color: $table-cell-color;
    background-color: $table-bg-color;
    padding: $table-inner-space;
    border-radius: $table-radius;
    border-spacing: 0 1rem;
    text-align: $table-cell-align;
    td{
        padding:$table-cell-padding ;       
        background-color: $cell-bg-color;
    }

    td.active{
        color: $cell-status-color;
    }
    .cell-profile{
        height: $cell-profile-height;
        width: $cell-profile-width;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
        }
    }

}