.table-inner{
    width: 65%;
    padding-right: 1.2rem;
    max-height: 500px;
    overflow: hidden;

}
.table-scroll{
    overflow: auto;
    .table{
        padding: 0rem 1rem 1rem 1rem;
        border-spacing: 0 1rem;

    }
}
.table{
    .table-heading td{
        background-color: $white;
        padding: 0px;
    }
}

.table{
    color: $table-cell-color;
    background-color: $table-bg-color;
    padding: $table-inner-space;
    border-radius: $table-radius;
    text-align: $table-cell-align;
    td{
        padding:$table-cell-padding ;       
        background-color: $cell-bg-color;
        width: 20%;
    }
    th{
        width: 16%;
        padding: 0.75rem 0.75rem 0rem 0.75rem;
    }
    .product-name{
        white-space: nowrap;
    }
   

    td.active{
        color: $cell-status-color;
    }
    .cell-profile{
        height: $cell-profile-height;
        width: $cell-profile-width;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .product{
        white-space: nowrap;
        max-width: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@include for-size('lg'){
    .analysis-view{
        flex-direction: column;
    }
    .table-inner{
        width: 100%;
        padding-right: 0rem;
        margin-bottom: 1rem;
    }
    .statistics{
        width: 100%;
    }

}