//main content css

.main-content{
    padding: $padding-base;
    overflow: auto;
   
    .title{
        font-size: $title-size-base;
        font-weight:$font-bold;
        color: $secondary;
        margin-bottom: 1.2rem;
    }
}


//card-view
.card-view{
    margin: 0rem -0.65rem;
}

//statistics css here
.statistics{
    width: 35%;
    padding: $table-inner-space;
    background-color: $white;
    padding: 2rem 1rem 1rem 1rem;
    color: $statistics-title-color;
    overflow: auto;
    &-details{
        padding-bottom: 1.2rem;
    }
    .details{
        font-size: 1rem;
    }
    .week-options{
        color: $primary;
    }
    
}
.statistics-info{
    padding-bottom: 1rem;
    //squre-icon create
    .icon-square{
        height: 10px;
        width: 10px;
        margin-right: 0.25rem;
        background-color: $info;
   }
   .info:first-child{
       margin-right: 1rem;
       .icon-square{
        background-color: $danger;
    }
   }
  
}

//graph css
.statistics-graph{
    max-height: 280px;
    height: 100%;
    justify-content: space-around;
    .grid-line{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0.5rem;
        
        .sell, .view{
            width: 0.5rem;
            margin: 0rem 0.25rem;
            background-color: $info;
        }
        .view{
            background-color: $danger;
        }
        p{
            padding: 1.25rem 0rem;
            color: $primary;
        }
    }
}
@include for-size('xl'){
    .analysis-view{
    overflow: unset;
}
}
@include for-size('lg'){
    .analysis-view{
    overflow: unset;
    .statistics{
        width: 100%;
        overflow: hidden;
        min-height: 400px;
    }
}
}

@include for-size('md'){
    

}
//responsive for phone
@include for-size('sm'){
    .main-content{
        padding: 1.5rem;
    }

}
@include for-size("x-sm"){
    .main-content{
        padding: 1rem;
        .title{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}