// Header area style
.header {
    height: $header-height;
    background-color: $header-bg;
    border-bottom: $border-bottom;
    .header-brand{
        flex-shrink: 0;
    }
    .header-content{
        padding: 1.3rem 2.5rem;
    }
     .logo {
        width: $sidebar-width;
        color: $brand-icon-color;
    }
    .header-expand,#header-expand{
        display: none;
    }

    .avtar {
        height: $avtar-height;
        width: $avtar-width;
        border-radius: $circle-radius;
        margin-right: 1rem;
        img {
            height: 100%;
            width: auto;
        }
    }
    .header-profile{
        @extend %transtion-all;
    }
    .search{
        @extend %transtion-all;
    }
    .search-input {
        position: relative;
        .search-icon {
            font-size: 1.6rem;
            @include position(absolute,0.7rem,auto,auto,0.75rem);
            // position: absolute;
            // top: 0.5rem;
            // left: 0.75rem;
        }
        .input {
            width: 350px;
            padding: 1rem 1.25rem 1rem 3rem;
        }
        .button {
            margin-left: -0.3rem;
        }
    }
    .icons{
        font-size: $icon-size;
    }
    .notification{
        margin-right: 2rem;
        .icons {
            &::after{
                content: '';
                height: 10px;
                width: 10px;
                border-radius: $circle-radius;
                background-color: $notification-pending-color;
                @include position(absolute,auto,auto,auto,auto);
            }
        }

    }
    
}
//size max 991
@include for-size('lg'){
    .header .logo{
        width: 50px;
    }

}
//size max 991
@include for-size('md'){
    .header{
    }
    .header-content{
        flex-direction: column;
    }



}

//resposnsive for phone
@include for-size('sm'){
    .header{
        .header-content{
            padding: 1.3rem 2rem;
        }
    }

}

    
 
