@font-face {
  font-family: 'app';
  src:  url('fonts/app.eot?fknw3o');
  src:  url('fonts/app.eot?fknw3o#iefix') format('embedded-opentype'),
    url('fonts/app.ttf?fknw3o') format('truetype'),
    url('fonts/app.woff?fknw3o') format('woff'),
    url('fonts/app.svg?fknw3o#app') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'app' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e901";
}
.icon-eye:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e904";
}
.icon-warnings:before {
  content: "\e905";
}
.icon-message:before {
  content: "\e906";
}
.icon-notepad:before {
  content: "\e907";
}
.icon-dashboard-brand:before {
  content: "\e908";
}
.icon-shopping-bag:before {
  content: "\e909";
}
.icon-sign-out:before {
  content: "\e90a";
}
.icon-user-group:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-arrow_forward:before {
  content: "\e90d";
}
.icon-arrow_back:before {
  content: "\e90e";
}
.icon-keyboard_arrow_down:before {
  content: "\e90f";
}
.icon-file_download:before {
  content: "\e910";
}
.icon-show_chart:before {
  content: "\e900";
}
.icon-stop2:before {
  content: "\ea1e";
}
